<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Management | Cloud Store</title>

    <!-- css link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/table.css}">
</head>
<body>

<!-- header section starts  -->
<header class="header">
    <a th:href="@{/}" href="" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <form th:action="@{/search}" class="search-form">
        <input type="search" name="keyword" id="keyword" size="50" th:value="${keyword}" required placeholder="What are you looking for...">
        <button type="submit" for="keyword" class="fas fa-search" value="Search"></button>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a th:href="@{/cart}" class="fas fa-shopping-cart"></a>
        <a sec:authorize = "!isAuthenticated()" th:href="@{/login}" class="fas fa-user"></a>
        <a sec:authorize = "isAuthenticated()" sec:authentication="name" th:href="@{/admin}"></a>
    </div>
</header>

<!-- dashboard starts  -->
<div class="dashboard-container">
    <ul class="menu">
        <li><a th:href="@{/admin}"> Dashboard </a></li>
        <li><a th:href="@{/admin/categories}"> Manage Categories </a></li>
        <li class="active"><a th:href="@{/admin/products}"> Manage Products </a></li>
        <li><a th:href="@{/admin/orders}"> Manage Orders </a></li>
        <li><a th:href="@{/admin/users}"> Manage Users </a></li>
        <li><a th:href="@{/logout}"> Logout </a></li>
    </ul>

    <div class="product-list grid-col-2">
        <h1 class="heading"> Update <span>product</span> </h1>
        <section class="section-container">
            <form th:action="@{/admin/products/update/save}" method="post" th:object="${product}" enctype="multipart/form-data">
                <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
                <input type="hidden" th:field="*{productId}">
                <input type="text" name="name" placeholder="Enter name" id="name" th:value="*{name}" class="box">
                <input type="text" name="detail" placeholder="Enter detail" id="detail" th:value="*{detail}"  class="box">
                <input type="file" accept="image/png, imgage/jpeg" name="productImage" class="box">
                <input type="text" name="price" placeholder="Enter price" id="price" th:value="*{price}"  class="box">
                <div class ="form-control">
                    <label for="category">Select Category</label>
                    <select class="form-control" th:field="*{category}" id="category" name="category">
                        <option th:each="category :${categories}"
                                th:value="${category.categoriesId}"
                                th:text="${category.name}"
                        >
                    </select>
                </div>
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </form>
        </section>
    </div>
</div>

<!-- js link -->
<script th:src="@{/js/base/search.js}"></script>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/admin/products}]]";
    }
</script>
</body>
</html>