section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: #555;
}

.dashboard-container {
    height: 100vh;
    text-align: center;
}

.dashboard-container a, p {
    font-size: 1.5rem;
    line-height: 2;
    padding-top: 1rem;
}

.menu {
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #0984e3;
    height: 100vh;
    position: fixed;
    overflow: auto;
}

.active {
    background-color: #ffd700;
}

.active a {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: calc(12% - (30px * 1/2)) calc(63% - (30px * 1/2)) calc(25% - (30px * 1/2));
    grid-column-gap: 30px;
}

.grid-col {
    padding: 30px;
}

.grid-col-2 {
    padding: 30px;
    width: 88%;
    margin-left: 12%;
}

.section-container {
    margin: 0 10% 5% 10%;
    padding: 3rem;
    text-align: center;
    border: 0.2rem solid #333;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: .5rem;
    background: #fff;
}

.profile {
    height: 87vh;
    margin: 20px;
    width: 20%;
    position: fixed;
    right: 0;
    padding-top: 20px;
    border: 0.2rem solid #333;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: .5rem;
    background: #fff;
}

.profile img {
    border: 1px #d4d4d4 solid;
    padding: 7px;
    width: 50%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}