<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories Management | Cloud Store</title>

    <!-- css link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/table.css}">
</head>
<body>

<!-- header section starts  -->
<header class="header">
    <a th:href="@{/}" href="" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <form th:action="@{/search}" class="search-form">
        <input type="search" name="keyword" id="keyword" size="50" th:value="${keyword}" required placeholder="What are you looking for...">
        <button type="submit" for="keyword" class="fas fa-search" value="Search"></button>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a th:href="@{/cart}" class="fas fa-shopping-cart"></a>
        <a sec:authorize = "!isAuthenticated()" th:href="@{/login}" class="fas fa-user"></a>
        <a sec:authorize = "isAuthenticated()" sec:authentication="name" th:href="@{/admin}"></a>
    </div>
</header>

<!-- dashboard starts  -->
<div class="dashboard-container">
    <ul class="menu">
        <li><a th:href="@{/admin}"> Dashboard </a></li>
        <li class="active"><a th:href="@{/admin/categories}"> Manage Categories </a></li>
        <li><a th:href="@{/admin/products}"> Manage Products </a></li>
        <li><a th:href="@{/admin/orders}"> Manage Orders </a></li>
        <li><a th:href="@{/admin/users}"> Manage Users </a></li>
        <li><a th:href="@{/logout}"> Logout </a></li>
    </ul>

    <div class="category-list grid-col-2">
        <h1 class="heading"> Category <span>list</span> </h1>
        <section class="section-container">
            <a th:href="@{/admin/categories/add}" class="btn">Add new</a>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Smartphone</td>
                    <td>This is smartphone</td>
                    <td>image here</td>
                    <td><a th:href="@{/admin/categories/update}" class="btn">Update</a>
                        <a th:href="@{/admin/categories/delete}" class="btn">Delete</a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>

<!-- js link -->
<script th:src="@{/js/base/search.js}"></script>
</body>
</html>