<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Order | Cloud Store</title>

    <!-- css link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prototype/table.css}">
</head>
<body>

<!-- header section starts  -->
<header class="header">
    <a th:href="@{/}" href="" class="logo"> <i class="fas fa-store"></i> Cloud Store </a>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="What are you looking for...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a th:href="@{/cart}" class="fas fa-shopping-cart"></a>
        <a sec:authorize = "!isAuthenticated()" th:href="@{/login}" class="fas fa-user"></a>
        <a sec:authorize = "isAuthenticated()" sec:authentication="name" th:href="@{/user}"></a>
    </div>
</header>

<!-- order starts  -->
<div class="dashboard-container">
    <ul class="menu">
        <li><a th:href="@{/user}"> Dashboard </a></li>
        <li><a th:href="@{/user/update-profile}"> My Profile </a></li>
        <li class="active"><a th:href="@{/user/my-order}"> My Order </a></li>
        <li><a th:href="@{/user/my-payment}"> My Payment </a></li>
        <li><a th:href="@{/logout}"> Logout </a></li>
    </ul>

    <div class="grid">
        <div></div>

        <div class="order grid-col">
            <h1 class="heading"> My <span>order</span> </h1>
            <section class="section-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Delivery Address</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="order : ${myOrder}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.deliveryAddress}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.deliveryDate}"></td>
                        <td><a th:href="@{/user/my-order/view}" class="btn">Detail</a></td>
                    </tr>
                </table>
            </section>
        </div>

        <div class="profile gid-col" th:each="userDetail : ${userDetail}">
            <img th:src="${userDetail.getImagePath()}">
            <p th:text="${userDetail.getFullName()}"></p>
            <p th:text="${userDetail.getEmail()}"></p>
            <p th:text="${userDetail.getPhoneNumber()}"></p>
            <p th:text="${userDetail.getAddress()}"></p>
            <a th:href="@{/user/update-profile}" class="btn">Update profile</a>
        </div>
    </div>
</div>

<!-- js link -->
<script th:src="@{/js/base/search.js}"></script>
</body>
</html>
