<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome <p th:text="${#request.getSession().getAttribute('email')}"></p></h1>
    <h2> day la trang homepage</h2>
    <a th:href="@{/product/addProduct}">Click here to <b>add product</b></a>
    <a th:href="@{/product/productList}">Click here to <b>Product List</b></a>
    <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
</div>
</body>
</html>