<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>

<body>
<section>
    <div class="login-container">
        <div class="login-title">
            <p>Login</p>
        </div>

        <form class="login-form" id="login-form" th:action="@{/login}" th:object="${loginRequestDto}" method="POST" >
            <input type="text" name="email" id="email" placeholder="E-mail" th:field="*{email}">
            <div class="err-msg">
                <span class="email-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
            <div class="err-msg">
                <span class="password-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="err-msg" th:if="${#fields.hasGlobalErrors()}">
                <span class="error" th:text="${#fields.globalErrors().get(0)}"></span>
            </div>
            <div class="remember-me">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember"> Remember me</label>
            </div>

            <button id="loginBtn" type="submit">Login</button>
            <a class="registerHref" th:href="@{/register}">Click here to <b>register</b></a>
        </form>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script th:src="@{/js/login.js}"></script>
</body>

</html>